<p>
    {{ stamp_use_safe('svg', 'cross') }}
</p>
<p>
    {{ stamp_use_safe('svg', 'circle') }}
</p>
<p>
    {# just to check that svg will be dumped once #}
    {{ stamp_use_safe('svg', 'cross') }}
</p>
<p>
    {{ stamp_use_safe('svg', 'gift') }}
</p>
