<h1>{{ stamp_use('toc', 'Section 2') }}</h1>

Nostrum dolores sententiae his eu, lobortis voluptaria ut vel, commune reprimique suscipiantur ex sed. Albucius scripserit ex ius. Ei ius agam euripidis, eu nec perpetua appellantur, mutat quodsi sed cu. Usu vidit clita deseruisse ad.
