<h1>{{ stamp_use('toc', 'Section 3') }}</h1>

In eros brute partem his, officiis persecuti interesset ex vix. Enim mutat commune eu est, at iusto latine moderatius pri. Gloriatur sententiae an mel, est no graeci aliquid pertinax, quo eu alia accumsan copiosae. Sed in nobis populo mentitum.
