<h1>{{ stamp_use('toc', 'Section 1') }}</h1>

Lorem ipsum dolor sit amet, eu vel aliquam adversarium. Cu usu ancillae theophrastus definitiones. Quando dignissim abhorreant cu per, est cetero dignissim no. Case minim omnesque ius eu, qui te iriure impedit repudiandae.
